/*cocacola theme*/
body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
ul{
	padding-left: 5px;
}
input, textarea{
	background: transparent;
}

.cvdetails :focus{
	background-color: #2ecc71;
	color: white;
}
.cvdetails :focus::-webkit-input-placeholder {
	color: white;
}
.cvdetails :focus:-moz-placeholder {
  color: white;
}
.cvdetails :focus::-moz-placeholder {
  color: white;
}
.cvdetails :focus:-ms-input-placeholder {
  color: white;
}


.bold{
	font-weight: 700;
}

.cvdetails{
	background: url("cocacola/wave.png") no-repeat scroll 100px 0 / 100% auto rgba(0, 0, 0, 0);
}
.cv-header{
	
}
.logo-wrapper{
	background-color: red;
	padding-top: 15px;
	padding-bottom: 15px;
}
.cv-header img{
	max-width: 300px;
	margin: 10px auto;
}
.title{
	background: url("cocacola/cocacola_icon.png") no-repeat left center;
	padding-left: 30px;
	color: #cf3a3c;
}

/*=profile*/
.cv-profile{
	margin-top: 40px;
	margin-bottom: 40px;
}

.cv-profile .avatar{
	border: 2px solid red;
	width: 100px;
	height: 100px;
}

.list-info{
	padding-left: 0;
}
.list-info li{
	padding-bottom: 10px;
}
.list-info li:last-child{
	padding-bottom: 0;
}
.list-info.right li,
.list-info.right input, .list-info.right .error{
	text-align: right;
	float: right;
}

/*=objectif*/
.objectif textarea[name="objectif"]{
	height: auto;
	overflow: hidden;
	resize: none;
}

/*=education*/
input[name="uni-name"]{
	font-weight: 700;
}
.input-year{
	width: 55px;
	text-align: center;
}
.input-rate{
	width: 55px;
	text-align: center;
}

/*=ending (footer) of cvdetails*/
.cvdetails > .row:last-child:after{
	display: block;
	content: "";
	height: 40px;
	width: 100%;
	margin-bottom: 10px;

}

.list-info-action a.label{
	display: none;
}
.list-info-action li:hover a.label{
	display: inline;
}