body{
	background-color: #f5f5f5;
}
ul{
	list-style: none;
}
.container{
	max-width: 800px;
	-webkit-box-shadow: 0 1px 2px #777;
	-moz-box-shadow: 0 2px 1px #777;
	box-shadow: 0 2px 1px #777;
	background-color: white;
}
:focus{
	outline: none;
}
.cvdetails input,
.cvdetails textarea{
	border: none;
}
.cvdetails textarea{
	resize: none;
	width: 100%;
}
.error{
	color: orange;
}
.cvdetails .ng-invalid{
	border: 1px dashed orange;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.text-uppercase{
	text-transform: uppercase;
}

/*=footer*/
footer{
	background-color: #2c3e50;
	height: 100px;
	padding-top: 50px;
	color: white;
}
